name: Java CI

on:
  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        distribution: [ 'zulu' ]
        java: [ '21', '22', '23', '24' ]

    steps:
      - uses: actions/checkout@v5
      - name: Use JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: ${{ matrix.distribution }}
          java-version: ${{ matrix.java }}
      - name: Build with Gradle
        run: ./gradlew build
        env:
          GH_PACKAGES_READ_TOKEN: ${{ secrets.GH_PACKAGES_READ_TOKEN }}
          GH_PACKAGES_WRITE_TOKEN: ${{ secrets.GH_PACKAGES_WRITE_TOKEN }}
          IPREGISTRY_API_KEY: ${{ secrets.IPREGISTRY_API_KEY }}
          IPREGISTRY_DATASETS_SECRET_KEY: ${{ secrets.IPREGISTRY_DATASETS_SECRET_KEY }}
